* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.side-nav {
    width: 25%;
    margin-right: 20px;
    padding: 15px 0px;
    box-sizing: border-box;
}
.main {
    display: flex;
    padding : 0px 10px;
}
.forecast-section {
    display: flex;
}

.forecast-card {
    background-color: #32475a;
    width: 18%;
    margin-right: 20px;
    color: #feffff;
    margin-top: 10px;
    padding: 10px;
}

.forecast-card:last-child {
    margin-right: 0;
}

.search-input {
    border-radius: 10px;
    color: #b7b7b7;
    margin-bottom: 10px;
    width: 100%;
    display: block;
    padding: 10px;
    font-size: 25px;
    box-sizing: border-box;
}

.search-button {
    width: 100%;
    background-color: #5aa2ea;
    text-align: center;
    display: block;
    border-radius: 10px;
    border: none;
    padding: 10px 0;
    color: #feffff;
    margin-bottom: 10px;
}

.divider-line {
    height: 2px;
    background-color: #b7b7b7;
    margin-bottom: 10px;
    width: 100%;
    display: block;
    box-sizing: border-box;
}

.city-history {
    width: 100%;
    background-color: #b7b7b7;
    text-align: center;
    display: block;
    border-radius: 10px;
    border: none;
    padding: 10px 0;
    color: black;
    margin-bottom: 10px;
}

.toolbar {
    background-image: linear-gradient(to right, #3a6cc1, #220555);
    color: #feffff;
    text-align: center;
    padding: 5px;
}

.city-details {
    border: 2px solid #b7b7b7;
    width: 100%;
    padding: 10px;
}

.content {
    width: 75%;
    padding: 15px 0px;
    box-sizing: border-box;

}

p{
    margin-top: 10px;
    font-size: 16px;
}

.uv-tag {
    background-color: #177d50;
    color: #feffff;
    border-radius: 2px;
    padding: 5px;
}
.menu {
    width: 30px;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    display: none;
    background-color: transparent;
}

.menu:hover {
    
    background-color: #b7b7b7;
    padding: 5px;
    border-radius: 2px;
}
.menu-bar {
    height: 2px;
    background-color: #feffff;
    width: 100%;
    margin-bottom: 8px;
}
.menu-bar:last-child {
    margin-bottom: 0;
}

@media (max-width:1114px) {
    .forecast-section {
        display: inline-block;
        width: 100%;
    }
    .forecast-card {
        display: block;
        width: 100%;
    }
}



@media (max-width:745px)  { 
    .side-nav {
        display: none;
        position: absolute;
        width: 80%;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: white;
        height: 100%;
        padding: 10px;
        overflow-y: auto;
    }
    .menu {
        display: inline;
    }
    .main {
        width: 100%;
        position: absolute;
        display: block;
    }
    .content {
        display: block;
        width: 100%;
    }

    .forecast-section {
        display: block;
        width: 100%;
    }
    .forecast-card{
        width: 100%;
        
    }

    .side-nav {
        width: 100%;
    }
 }


